services:
  lucos_creds:
    build: server
    container_name: lucos_creds
    ports: 
      - "2202:2202"
    image: lucas42/lucos_creds
    volumes:
      - "store:/var/lib/creds_store/"
    restart: always
    environment:
      - LOGANNE_ENDPOINT
      - UI_DOMAIN
  lucos_creds_configy_sync:
    build: configy_sync
    container_name: lucos_creds_configy_sync
    image: lucas42/lucos_creds_configy_sync
    restart: always
    environment:
      - SCHEDULE_TRACKER_ENDPOINT
      - CONFIGY_SYNC_PRIVATE_SSH_KEY
    depends_on:
      lucos_creds:
        condition: service_started
  lucos_creds_ui:
    build: ui
    container_name: lucos_creds_ui
    ports:
      - $PORT:$PORT
    image: lucas42/lucos_creds_ui
    restart: always
    environment:
      - PORT
      - UI_PRIVATE_SSH_KEY

volumes:
  store: