<html>
	<body>
		<a href="/">&lt;- Home</a>
		<h1><%= system.replace("_", " ") %>: <%= environment %></h1>
		<h2>Environment Variables Currently Set</h2>
		<ul>
			<% for(const key in creds) { %>
			<li><%= key %> (<%= creds[key].type %>)</li>
			<% } %>
		</ul>
	</body>
</html>