<html>
	<body>
		<a href="/">&lt;- Home</a>
		<h1><%= system.replace("_", " ") %>: <%= environment %></h1>
		<h2>Environment Variables Currently Set</h2>
		<ul>
			<% for(var ii = 0; ii < creds.length; ii++) { %>
			<li><%= creds[ii] %></li>
			<% } %>
		</ul>
	</body>
</html>