<html>
	<body>
		Hello World <br/>
		<% for(const systemid in systems) {
			const system = systems[systemid];
			%>
			<h2><%= system.code %></h2>
			Environments:
			<ul>
				<% for(var ii = 0; ii < system.environments.length; ii++) {
					const environment = system.environments[ii];
					const path = `/system/${encodeURI(system.code)}/${encodeURI(environment)}`;%>
				<li><a href="<%= path %>"><%= environment %></a></li>
				<% } %>
			</ul>
		<%} %>
	</body>
</html>